{% extends 'forum/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/course.css' %}">

<div class="container">
    <div class="row">
        <div class="col-md-3"></div> <!-- Empty left column -->
        <div class="col-md-6"> <!-- Middle column with the form -->
            <div class="container rounded-4" style="border: 1px solid #ccc">
                <h3 class="title mt-3 ms-3 me-3">Tạo bài viết mới</h3>
                <div class="comment ms-3 me-3">
                    <form action="" method="post">
                        {% csrf_token %}
                         <div class="form-group rounded-4 mb-3 mt-3">
                            <label for="id_title">Tiêu đề:</label>
                            <input type="text" class="form-control" name="title" placeholder="Nhập tiêu đề ở đây...">
                        </div>
                        <div class="form-group rounded-4 mb-3 mt-3">
                            <label for="id_content">Nội dung:</label>
                            <textarea class="form-control" name="content" rows="5" placeholder="Nhập nội dung ở đây..."></textarea>
                        </div>
                        <div class="w-100 mt-2 mb-4">
                            <button type="submit" class="blue-button">Đăng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div> <!-- Empty right column -->
    </div>
</div>

{% endblock %}
