{% extends 'course/base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<style>
    .datepicker table tr td,
    .datepicker table tr th,
    .datepicker-months table tr td,
    .datepicker-months table tr th,
    .datepicker-years table tr td,
    .datepicker-years table tr th {
        padding: 8px;
        border-radius: 10px;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="{% static 'css/course.css' %}">
<div class="container mt-5" style="border: 1px solid #dfdfdf;border-radius: 25px;max-width: 30%;">
    <h2 class="text-center mt-4" style="font-weight: 500">Thông tin cá nhân</h2>
    <div class="row justify-content-center">
        <div class="col-md-10 mt-4">
            {% if message and message == 'FAIL' %}
            <div class="alert alert-danger" role="alert">Thay đổi thất bại, vui lòng thử lại</div>
            {% endif %}
            <form method="post" action="">
                {% csrf_token %}
                <div class="row" style="margin: 12px 0px;">
                    {% render_field form.first_name|append_attr:"disabled" class="form-control col me-2" placeholder="Họ, tên đệm" type="text" %}
                    {% render_field form.last_name|append_attr:"disabled" class="form-control col ms-2" placeholder="Tên" type="text" %}
                </div>
                {% render_field form.gender|append_attr:"disabled" class="form-control col me-2 mb-3" placeholder="Giới tính" type="text" %}
                {% render_field form.major|append_attr:"disabled" class="form-control col me-2 mb-3" placeholder="Chuyên ngành" type="text" %}
                {% render_field form.birth_date|append_attr:"disabled" id="datepicker" class="form-control col me-2 mb-3" placeholder="Ngày sinh" type="text" %}
                {% render_field form.email|append_attr:"disabled" class="form-control mb-3" placeholder="Email" type="email" %}
                {% render_field form.phone|append_attr:"disabled" class="form-control mb-3" placeholder="Điện thoại" type="text" %}
                <div class="row align-items-center justify-content-center ms-3 me-3 mb-5">
                    <button class="blue-button" id="edit" type="button">Chỉnh sửa</button>
                    <button class="blue-button" id="verify" type="submit">Xong</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script type="text/javascript">
$(function () {
    $('#datepicker').datepicker({
        format: 'yyyy-mm-dd', 
        endDate: '0',
        yearRange: 10
    });
})

    $(document).ready(function(){
        $("#verify").hide();

        $("#edit").click(function(){
            $(".form-control").prop('disabled', false);
            $(this).hide(); 
            $("#verify").show(); 
        });
    });


    $(document).ready(function () {
        $('form').submit(function () {
            var majorValue = $('select[name="major"]').val();
            if (majorValue === '') {
                alert('Vui lòng chọn một chuyên ngành.');
                event.preventDefault();
            }
        });
    });

</script>



{% endblock %}

