{% load static %}
<style>
  .navbar-nav .nav-link.active {
    background-color: #5E5DF0;
    color: #fff;
  }
  .user-img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
  }
</style>
<section class="">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'course:homepage' %}">
        <img class="img-fluid" src="{% static 'logo.png' %}" alt="" style="width: 120px;">
      </a>
      <div class="collapse navbar-collapse position-absolute top-50 start-50 translate-middle">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"><a class="nav-link header-nav rounded-4 me-3 px-3" id="header_course" href="{% url 'course:homepage' %}">Khóa học</a></li>
          <li class="nav-item"><a class="nav-link header-nav rounded-4 me-3 px-3" id="header_teacher" href="{% url 'teacher:homepage' %}">Giảng viên</a></li>
          <li class="nav-item"><a class="nav-link header-nav rounded-4 me-3 px-3" id="header_forum" href="{% url 'forum:homepage' %}">Diễn đàn</a></li>
          <li class="nav-item"><a class="nav-link header-nav rounded-4 me-3 px-3" id="header_admin" href="/admin">Quản trị</a></li>
        </ul>
      </div>
      {% if request.user.id %}
      <div class="d-flex align-items-center">

        <div class="dropdown">
            <a class="d-flex align-items-center text-decoration-none" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                {% if user.teacher %}
                    {% if user.gender == 0 %}
                        <img class="user-img" src='{% static 'img/teacher_man.png' %}' alt='Meow'> </img>
                    {% else %}
                        <img class="user-img" src='{% static 'img/teacher_woman.png' %}' alt='Meow'> </img>
                    {% endif %}
                {% else %}
                    {% if user.gender == 0 %}
                        <img class="user-img" src='{% static 'img/student_man.png' %}' alt='Meow'> </img>
                    {% else %}
                        <img class="user-img" src='{% static 'img/student_woman.png' %}' alt='Meow'> </img>
                    {% endif %}                                        
                {% endif %}
                <div class="ms-2 me-2">
                    <div class="" style="color:#5E5DF0;font-weight: 600;margin-bottom: -5px;font-size:15px">{{ user.first_name }} {{ user.last_name }}</div>
                    <small style="font-size: 13px;color: #3c3c3c;">
                      {% if user.teacher %}
                        Giảng viên
                      {% else %}
                        Học viên
                      {% endif %}</small>
                </div>
            </a>
    
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'base:personal' %}">Thông tin cá nhân</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'base:logout' %}">Đăng xuất</a></li>
            </ul>
        </div>
    </div>
    
      {% else %}
          <div class="d-none d-lg-block"><a class="btn btn-light rounded-4" href="{% url 'base:login' %}">Đăng nhập</a></div>
      {% endif %}
  </nav>
</section>
<script>
  $(document).ready(function() {
    var currentUrl = window.location.href;
    console.log(currentUrl)
    
    $('.header-nav').removeClass('active');
    
    if (currentUrl.indexOf('teacher') !== -1) {
      $('#header_teacher').addClass('active');
    }
    else if (currentUrl.indexOf('forum') !== -1) {
      $('#header_forum').addClass('active');
    }
    else if (currentUrl.indexOf('base') !== -1) {
      $('.header-nav').removeClass('active');
    } 
    // Nếu không, nếu không trong URL có các từ khóa 'forum' hoặc 'admin', đặt lớp 'active' cho liên kết có id là 'header_course'
    else if (currentUrl.indexOf('forum') === -1 && currentUrl.indexOf('admin') === -1) {
      $('#header_course').addClass('active');
    }
  });
</script>
