{% extends 'base/base.html' %}
{% block content %}
{% load static %}
<style>
    .link-item {
        border: 1px solid #ccc;
        transition: background-color 0.3s ease;
        margin-bottom: 1rem;
    }

    .link-item:hover {
        background-color: #e2e2e2;
    }
</style>

<div class="container">
    <div class="row mb-3">
        <div class="col text-center mt-3">
            <span class="fs-5">Chào mừng bạn đã tới Beyond</span>
            <h2 class="text-center mb-4 mt-2" style="color: #5E5DF0; font-size: 2rem;font-weight: 700;">Bạn muốn tham gia với tư cách?</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3 link-item justify-content-center rounded-4 d-flex align-items-center" style="border: 1px solid #ccc;">
            <a href="{% url 'base:register' 'student' %}" class="button d-block mt-3 mb-5" style="text-decoration: none;">
                <div class="text-center">
                    <img src='{% static 'img/student.png' %}'
                        alt="" class="rounded d-block img-fluid" style="width: 18rem; height: 15rem;">
                    <h3 style="color: #5E5DF0;">Học viên</h3>
                    <p class="text-center" style="max-width: 13rem; margin: 0 auto;color:black;">Tham gia khóa học và nhận chứng chỉ</p>
                </div>
            </a>
        </div>        
        <div style="width: 10px;"></div>
        <div class="col-md-3 link-item justify-content-center rounded-4 d-flex align-items-center" style="border: 1px solid #ccc;">
            <a href="{% url 'base:register' 'teacher' %}" class="button d-block mt-3 mb-5" style="text-decoration: none;">
                <div class="text-center">
                    <img src='{% static 'img/teacher.png' %}'
                        alt="" class="rounded d-block img-fluid" style="width: 20rem; height: 15rem;">
                    <h3 style="color: #5E5DF0;">Giảng viên</h3>
                    <p class="text-center" style="max-width: 13rem; margin: 0 auto;color:black;">Xây dựng các khóa học và tiếp cận học viên</p>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}
